// color
$color-000000: #000000;
$color-333333: #333333;
$color-666666: #666666;
$color-cccccc: #cccccc;
$color-dc1f34: #dc1f34;

//自定义字体
$fonts-common-suffix: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// 响应式
$screen-sm-max: 1024px;
$screen-xs-max: 768px;
