@charset "UTF-8";

@import "common/variables.scss";
@import "common/utilities.scss";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body {
	color: $color-333333;
	font-family: $fonts-common-suffix;
}
input,textarea{
	font-family: $fonts-common-suffix;
}
ul,ol {
	list-style: none;
}
div,p,span,i,ul,li,dl,dt,dd {
	word-break: normal;
}
img {
  	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	word-break: normal;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
